<a href="https://colab.research.google.com/github/njgeorge000158/deep-learning-challenge/blob/main/AlphabetSoupCharity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#*******************************************************************************************
 #
 #  File Name:  AlphabetSoupCharity.ipynb
 #
 #  File Description:
 #      This interactive Python notebook, AlphabetSoupCharity.ipynb, reads a csv file,
 #      LendingData.csv, in the Resources folder, and uses Python and neural networks
 #      methods to use the features in the provided dataset to create a binary classifier
 #      that can predict whether applicants for charity donations will be successful if
 #      funded by the nonprofit foundation, Alphabet Soup.
 #
 #      I reinstalled the scikit-learn module using the following commands to allow the
 #      RandomOverSampler function to work:
 #
 #      pip3 uninstall scikit-learn
 #      pip3 install scikit-learn==1.2.2
 #
 #
 #  Date            Description                             Programmer
 #  ----------      ------------------------------------    ------------------
 #  12/01/2023      Initial Development                     N. James George
 #
 #******************************************************************************************/

from google.colab import drive
drive.mount('/content/drive/')

import sys
sys.path.insert(0,'/content/drive/My Drive/deep-learning-challenge')

!pip install -q dataframe_image
!pip install aspose-words
!pip install hvplot
!pip install silence-tensorflow
!pip install keras-tuner

import PyConstants as constant
import PyFunctions as function
import PyLogConstants as log_constant
import PyLogFunctions as log_function
import PyLogSubRoutines as log_subroutine
import PySubRoutines as subroutine

import AlphabetSoupCharityOptimizationSearchFunctions as local_function

import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from silence_tensorflow import silence_tensorflow
silence_tensorflow()

import tensorflow as tf

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).
Requirement already satisfied: aspose-words in /usr/local/lib/python3.10/dist-packages (23.11.0)
Requirement already satisfied: hvplot in /usr/local/lib/python3.10/dist-packages (0.9.0)
Requirement already satisfied: bokeh>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from hvplot) (3.3.1)
Requirement already satisfied: colorcet>=2 in /usr/local/lib/python3.10/dist-packages (from hvplot) (3.0.1)
Requirement already satisfied: holoviews>=1.11.0 in /usr/local/lib/python3.10/dist-packages (from hvplot) (1.17.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from hvplot) (1.5.3)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.10/dist-packages (from hvplot) (1.23.5)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from hvplot) (23.2)
Requirement already satisfied: panel>=0.11.0 in /usr/local/lib/python3.10/dist-packages (from hvplot) (1.3.4)
Requirement already satisfied: param<3.0,>=1.9.0 in /usr/local/lib/python3.10/dist-packages (from hvplot) (2.0.1)
Requirement already satisfied: Jinja2>=2.9 in /usr/local/lib/python3.10/dist-packages (from bokeh>=1.0.0->hvplot) (3.1.2)
Requirement already satisfied: contourpy>=1 in /usr/local/lib/python3.10/dist-packages (from bokeh>=1.0.0->hvplot) (1.2.0)
Requirement already satisfied: pillow>=7.1.0 in /usr/local/lib/python3.10/dist-packages (from bokeh>=1.0.0->hvplot) (9.4.0)
Requirement already satisfied: PyYAML>=3.10 in /usr/local/lib/python3.10/dist-packages (from bokeh>=1.0.0->hvplot) (6.0.1)
Requirement already satisfied: tornado>=5.1 in /usr/local/lib/python3.10/dist-packages (from bokeh>=1.0.0->hvplot) (6.3.2)
Requirement already satisfied: xyzservices>=2021.09.1 in /usr/local/lib/python3.10/dist-packages (from bokeh>=1.0.0->hvplot) (2023.10.1)
Requirement already satisfied: pyct>=0.4.4 in /usr/local/lib/python3.10/dist-packages (from colorcet>=2->hvplot) (0.5.0)
Requirement already satisfied: pyviz-comms>=0.7.4 in /usr/local/lib/python3.10/dist-packages (from holoviews>=1.11.0->hvplot) (3.0.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->hvplot) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->hvplot) (2023.3.post1)
Requirement already satisfied: markdown in /usr/local/lib/python3.10/dist-packages (from panel>=0.11.0->hvplot) (3.5.1)
Requirement already satisfied: markdown-it-py in /usr/local/lib/python3.10/dist-packages (from panel>=0.11.0->hvplot) (3.0.0)
Requirement already satisfied: linkify-it-py in /usr/local/lib/python3.10/dist-packages (from panel>=0.11.0->hvplot) (2.0.2)
Requirement already satisfied: mdit-py-plugins in /usr/local/lib/python3.10/dist-packages (from panel>=0.11.0->hvplot) (0.4.0)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from panel>=0.11.0->hvplot) (2.31.0)
Requirement already satisfied: tqdm>=4.48.0 in /usr/local/lib/python3.10/dist-packages (from panel>=0.11.0->hvplot) (4.66.1)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from panel>=0.11.0->hvplot) (6.1.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from panel>=0.11.0->hvplot) (4.5.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from Jinja2>=2.9->bokeh>=1.0.0->hvplot) (2.1.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->hvplot) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->panel>=0.11.0->hvplot) (0.5.1)
Requirement already satisfied: uc-micro-py in /usr/local/lib/python3.10/dist-packages (from linkify-it-py->panel>=0.11.0->hvplot) (1.0.2)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.10/dist-packages (from markdown-it-py->panel>=0.11.0->hvplot) (0.1.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->panel>=0.11.0->hvplot) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->panel>=0.11.0->hvplot) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->panel>=0.11.0->hvplot) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->panel>=0.11.0->hvplot) (2023.11.17)
Requirement already satisfied: silence-tensorflow in /usr/local/lib/python3.10/dist-packages (1.2.1)
Requirement already satisfied: support-developer in /usr/local/lib/python3.10/dist-packages (from silence-tensorflow) (1.0.5)
Requirement already satisfied: keras-tuner in /usr/local/lib/python3.10/dist-packages (1.4.6)
Requirement already satisfied: keras in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.12.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (23.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.31.0)
Requirement already satisfied: kt-legacy in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (1.0.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2023.11.17)

In [ ]:
CONSTANT_LOCAL_FILE_NAME \
    = 'AlphabetSoupCharity.ipynb'

CONSTANT_CHARITY_DATA_CSV_FILE_PATH \
    = '/content/drive/My Drive/deep-learning-challenge/Resources/CharityData.csv'

CONSTANT_FIRST_OUTPUT_FILE_PATH \
    = '/content/drive/My Drive/deep-learning-challenge/Resources/AlphabetSoupCharity.keras'

log_subroutine \
    .SetLogMode \
        (False)

log_subroutine \
    .SetDebugMode \
        (False)

log_subroutine \
    .SetImageMode \
        (False)

log_subroutine \
    .BeginProgramExecution \
        ('AlphabetSoupCharity')

# <br> **Section 1: Data Acquistion**

## **1.1: Import and Read Charity Data**

In [ ]:
charityDataFrame \
    = function. \
        ReturnCSVFileAsDataFrame \
            (CONSTANT_CHARITY_DATA_CSV_FILE_PATH)


log_function \
    .DebugReturnObjectWriteObject \
        (charityDataFrame)

## **1.2: Display Charity Data**

In [ ]:
captionString \
    = 'Table 1.2.1: Charity Data Table'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (charityDataFrame.head(12),
             captionString)

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

# <br> **Section 2: Preprocessing**

## **2.1: Drop the Non-Beneficial ID Columns**

In [ ]:
charityDataFrame \
    .drop \
        (['EIN','NAME'],
         axis = 1,
         inplace = True)

log_function \
    .DebugReturnObjectWriteObject \
        (charityDataFrame)

In [ ]:
captionString \
    = 'Table 1.2.2: Modified Charity Data Table'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (charityDataFrame.head(12),
             captionString)

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

## **2.2: Determine the Number of Unique Values in Each Column**

In [ ]:
numberOfUniqueValuesInEachColumnSeries \
    = charityDataFrame \
        .nunique()

log_function \
    .DebugReturnObjectWriteObject \
        (numberOfUniqueValuesInEachColumnSeries)

In [ ]:
log_subroutine \
    .PrintAndLogWriteText \
        (str(numberOfUniqueValuesInEachColumnSeries))

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

## **2.3: APPLICATION_TYPE Binning**

### **Look at APPLICATION_TYPE Value Counts for Binning**

In [ ]:
applicationTypeValueCountsForBinningSeries \
    = charityDataFrame['APPLICATION_TYPE'] \
        .value_counts() \
        .sort_values \
            (ascending = False)

applicationTypeValueCountsForBinningSeries \
    .name = 'APPLICATION_TYPE'

log_function \
    .DebugReturnObjectWriteObject \
        (applicationTypeValueCountsForBinningSeries)

In [ ]:
log_subroutine \
    .PrintAndLogWriteText \
        (str(applicationTypeValueCountsForBinningSeries))

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

### **Choose a Cutoff Value and Create a List of Application Types to be Replaced**

In [ ]:
application_types_to_replace \
    = list \
        (applicationTypeValueCountsForBinningSeries \
             [applicationTypeValueCountsForBinningSeries < 500].index)

log_function \
    .DebugReturnObjectWriteObject \
        (application_types_to_replace)

In [ ]:
log_subroutine \
    .PrintAndLogWriteText \
        (str(application_types_to_replace))

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

### **Replace Application Types in DataFrame**

In [ ]:
for applicationTypes in application_types_to_replace:

    charityDataFrame['APPLICATION_TYPE'] \
        = charityDataFrame['APPLICATION_TYPE'] \
            .replace \
                (applicationTypes, 'Other')

log_function \
    .DebugReturnObjectWriteObject \
        (charityDataFrame)

### **Check to Make Sure Binning was Successful**

In [ ]:
applicationTypeValueCountsForBinningSeries \
    = charityDataFrame['APPLICATION_TYPE'] \
        .value_counts() \
        .sort_values \
            (ascending = False)

applicationTypeValueCountsForBinningSeries \
    .name = 'APPLICATION_TYPE'

log_function \
    .DebugReturnObjectWriteObject \
        (applicationTypeValueCountsForBinningSeries)

In [ ]:
log_subroutine \
    .PrintAndLogWriteText \
        (str(applicationTypeValueCountsForBinningSeries))

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

## **2.4: CLASSIFICATION Binning**

### **Look at CLASSIFICATION Value Counts for Binning**

In [ ]:
classificationValueCountsForBinningSeries \
    = charityDataFrame['CLASSIFICATION'] \
        .value_counts() \
        .sort_values \
            (ascending = False)

classificationValueCountsForBinningSeries \
    .name = 'CLASSIFICATION'

log_function \
    .DebugReturnObjectWriteObject \
        (classificationValueCountsForBinningSeries)

In [ ]:
log_subroutine \
    .PrintAndLogWriteText \
        (str(classificationValueCountsForBinningSeries))

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C5200        1
C2600        1
C4200        1
C2190        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

### **Look at CLASSIFICATION Value Counts > 1**

In [ ]:
classificationValueCountsForBinningSeries \
    [classificationValueCountsForBinningSeries > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1600        5
C1257        5
C1260        3
C0           3
C2710        3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

### **Choose a Cutoff Value and Create a List of Classifications to be Replaced**

In [ ]:
classifications_to_replace \
    = list \
        (classificationValueCountsForBinningSeries \
             [classificationValueCountsForBinningSeries < 100].index)

log_function \
    .DebugReturnObjectWriteObject \
        (classifications_to_replace)

### **Replace Classifications in DataFrame**

In [ ]:
for classification in classifications_to_replace:

    charityDataFrame['CLASSIFICATION'] \
        = charityDataFrame['CLASSIFICATION'] \
            .replace \
                (classification, 'Other')

log_function \
    .DebugReturnObjectWriteObject \
        (charityDataFrame)

### **Check to Make Sure Binning was Successful**

In [ ]:
classificationValueCountsForBinningSeries \
    = charityDataFrame['CLASSIFICATION'] \
        .value_counts() \
        .sort_values \
            (ascending = False)

classificationValueCountsForBinningSeries \
    .name = 'CLASSIFICATION'

log_function \
    .DebugReturnObjectWriteObject \
        (classificationValueCountsForBinningSeries)

In [ ]:
log_subroutine \
    .PrintAndLogWriteText \
        (str(classificationValueCountsForBinningSeries))

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

## **2.5: Final Preprocessing**

### **Convert Categorical Data to Numeric with `pd.get_dummies`**

In [ ]:
dummiesDataFrame \
    = pd.get_dummies \
        (charityDataFrame)

log_function \
    .DebugReturnObjectWriteObject \
        (dummiesDataFrame)

In [ ]:
captionString \
    = 'Table 2.5.1: Dummies DataFrame Table'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (dummiesDataFrame.head(12),
             captionString)

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

### **Split Preprocessed Data into Features and Target Arrays**

In [ ]:
yNumpyArray \
    = dummiesDataFrame['IS_SUCCESSFUL'] \
          .values

log_function \
    .DebugReturnObjectWriteObject \
        (yNumpyArray)

In [ ]:
XNumpyArray \
    = dummiesDataFrame \
        .drop \
            (['IS_SUCCESSFUL'],
             axis = 1) \
        .values

log_function \
    .DebugReturnObjectWriteObject \
        (XNumpyArray)

### **Split the Preprocessed Data into a Training and Testing Dataset**

In [ ]:
XTrainNumpyArray, \
XTestNumpyArray, \
yTrainNumpyArray, \
yTestNumpyArray \
    = train_test_split \
            (XNumpyArray,
             yNumpyArray,
             random_state = 42)

In [ ]:
log_function \
    .DebugReturnObjectWriteObject \
        (XTrainNumpyArray)

In [ ]:
log_function \
    .DebugReturnObjectWriteObject \
        (XTestNumpyArray)

In [ ]:
log_function \
    .DebugReturnObjectWriteObject \
        (yTrainNumpyArray)

In [ ]:
log_function \
    .DebugReturnObjectWriteObject \
        (yTestNumpyArray)

### **Create a StandardScaler Instance**

In [ ]:
currentStandardScalar \
    = StandardScaler()

log_function \
    .DebugReturnObjectWriteObject \
        (currentStandardScalar)

### **Fit the StandardScaler**

In [ ]:
XStandardScalar \
    = currentStandardScalar \
        .fit \
            (XTrainNumpyArray)

log_function \
    .DebugReturnObjectWriteObject \
        (XStandardScalar)

### **Scale the Data**

In [ ]:
XTrainScaledNumpyArray \
    = XStandardScalar \
        .transform \
            (XTrainNumpyArray)

log_function \
    .DebugReturnObjectWriteObject \
        (XTrainScaledNumpyArray)

In [ ]:
XTestScaledNumpyArray \
    = XStandardScalar \
        .transform \
            (XTestNumpyArray)

log_function \
    .DebugReturnObjectWriteObject \
        (XTestScaledNumpyArray)

# <br> **Section 3: Compile, Train, Evaluate, and Export the Model**

## **3.1: Compile Model**

### **Model Definition**

In [ ]:
# These line of code define the model with the number of input features and hidden nodes for each layer.
neuralNetSequential \
    = tf.keras.models.Sequential()

log_function \
    .DebugReturnObjectWriteObject \
        (neuralNetSequential)

### **Layers**

In [ ]:
inputDimensionInteger \
    = len(XTrainScaledNumpyArray[0])

# This line of code is the first layer.
neuralNetSequential \
    .add \
        (tf.keras.layers.Dense \
             (units = 46,
              activation = 'relu',
              input_dim = inputDimensionInteger))

# This line of code is the hidden layer.
neuralNetSequential \
    .add \
        (tf.keras.layers.Dense \
             (units = 32,
              activation = 'relu'))

# This line of code is the output layer.
neuralNetSequential \
    .add \
        (tf.keras.layers.Dense \
             (units = 1,
              activation = 'sigmoid'))

### **Check Model**

In [ ]:
neuralNetSequential.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 46)                2300

 dense_7 (Dense)             (None, 32)                1504

 dense_8 (Dense)             (None, 1)                 33

=================================================================
Total params: 3,837
Trainable params: 3,837
Non-trainable params: 0
_________________________________________________________________

### **Compile**

In [ ]:
neuralNetSequential \
    .compile \
        (loss = 'binary_crossentropy',
         optimizer = 'adam',
         metrics = ['accuracy'])

## **3.2: Train Model**

In [ ]:
neuralNetSequential \
    .fit \
        (XTrainScaledNumpyArray,
         yTrainNumpyArray,
         epochs = 100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5803 - accuracy: 0.7125
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5558 - accuracy: 0.7277
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5524 - accuracy: 0.7295
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5502 - accuracy: 0.7296
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5481 - accuracy: 0.7315
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7310
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7317
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5465 - accuracy: 0.7323
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7331
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7320
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7320
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7336
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7353
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7351
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7347
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7334
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7352
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7350
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7358
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7355
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7363
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7346
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7355
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7356
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7362
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7358
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7374
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7361
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7362
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7368
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7365
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7379
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7363
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7375
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7369
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7350
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7378
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7378
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7380
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5370 - accuracy: 0.7386
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7385
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5366 - accuracy: 0.7368
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7385
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5361 - accuracy: 0.7383
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7392
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7383
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5360 - accuracy: 0.7385
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5360 - accuracy: 0.7377
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7386
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7385
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7386
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7390
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7390
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7381
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7394
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7393
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7395
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5347 - accuracy: 0.7398
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7389
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7387
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7397
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7388
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7390
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7388
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5341 - accuracy: 0.7405
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5336 - accuracy: 0.7399
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7397
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5337 - accuracy: 0.7399
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5337 - accuracy: 0.7398
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5339 - accuracy: 0.7399
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5334 - accuracy: 0.7392
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5335 - accuracy: 0.7400
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5335 - accuracy: 0.7388
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5334 - accuracy: 0.7391
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5337 - accuracy: 0.7398
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5333 - accuracy: 0.7397
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5332 - accuracy: 0.7392
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5337 - accuracy: 0.7396
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5331 - accuracy: 0.7400
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5330 - accuracy: 0.7401
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5330 - accuracy: 0.7394
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5331 - accuracy: 0.7406
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5327 - accuracy: 0.7392
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5331 - accuracy: 0.7393
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5332 - accuracy: 0.7399
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5329 - accuracy: 0.7401
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5329 - accuracy: 0.7408
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5325 - accuracy: 0.7403
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5326 - accuracy: 0.7403
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5330 - accuracy: 0.7395
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5323 - accuracy: 0.7398
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5324 - accuracy: 0.7396
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5323 - accuracy: 0.7402
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5321 - accuracy: 0.7404
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5323 - accuracy: 0.7399
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5323 - accuracy: 0.7404
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5327 - accuracy: 0.7391
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5323 - accuracy: 0.7395
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5321 - accuracy: 0.7396
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5318 - accuracy: 0.7392

## **3.3: Evaluate Model**

In [ ]:
modelLossFloat, \
modelAccuracyFloat \
    = neuralNetSequential.evaluate \
        (XTestScaledNumpyArray,
         yTestNumpyArray,
         verbose = 2)

log_subroutine \
    .PrintAndLogWriteText \
        (f'\nModel Loss: {round(modelLossFloat * 100, 2)}%, '
         + f'Model Accuracy: {round(modelAccuracyFloat*100, 2)}%')

268/268 - 0s - loss: 0.5555 - accuracy: 0.7305 - 468ms/epoch - 2ms/step

Model Loss: 55.55%, Model Accuracy: 73.05%

## **3.4: Export Model**

In [ ]:
neuralNetSequential.save \
    (CONSTANT_FIRST_OUTPUT_FILE_PATH)

In [ ]:
#log_subroutine \
#    .EndProgramExecution()